@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #ffffff 0%, #998ecb 100%);
  color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-s-header.is-open .q-s-header-background {
  left: 0;
}
.q-s-header-button-wrapper {
  margin-left: auto;
}
.q-s-header-icon {
  display: none;
}

.q-s-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-s-navigation-list.is-open {
  right: 0;
}
.q-s-header-icon-menu {
  display: block;
}

.q-s-header-icon-button.is-open .q-s-header-icon-menu {
  display: none;
}

.q-s-header-icon-button.is-open .q-s-header-icon-close {
  display: block;
}

.q-s-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(153, 142, 203, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.q-s-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(153, 142, 203, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.q-s-header.is-open .q-s-header-background {
  left: 0;
}
.q-s-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-s-header-icon-menu {
  display: block;
}

.q-s-header-icon-button.is-open .q-s-header-icon-menu {
  display: none;
}

.q-s-header-icon-button.is-open .q-s-header-icon-close {
  display: block;
}

.q-s-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 20px;
  position: relative;
}

.q-s-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px 60px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(153, 142, 203, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.q-s-navigation-list.is-open {
  right: 0;
}

.q-s-navigation-link {
  font-family: Lato;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-s-navigation-link:hover,
.q-s-navigatioт-link:focus {
  color: rgba(251, 188, 4, 1);
}

.q-s-header.is-open {
  background-color: transparent;
}

.q-s-navigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .q-s-navigation-img {
    display: flex;
  }
  .q-s-policy-terms-header-icon-menu {
    display: none;
  }

  .q-s-header {
    width: 100%;
    height: 74px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-s-header-background {
  }
  .q-s-header-icon-button {
    display: none;
  }
  .q-s-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-s-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-s-navigation-link {
    font-family: Lato;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5%;
    text-transform: uppercase;

    padding: 0px 20px;
    text-decoration: none;
  }

  .q-s-navigation-item-desk {
    display: none;
  }
}
.q-s-home {
  width: 375px;
  height: 1074px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 39944.png");
  margin: auto;
}
.q-s-home-container {
  width: 375px;
  padding: 140px 17px 0px;
  margin: auto;
}

.q-s-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.q-s-home-title-img {
  width: 268px;
  height: 150px;
}
.q-s-home-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 0;
}

.q-s-home-text {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;

  text-align: center;
  padding: 0 35px 24px;
}

.q-s-home-google-button-image {
  width: 270px;
  height: 60px;
}

.q-s-home-google-button-link:hover .q-s-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1207px) {
  .q-s-home {
    width: 1440px;
    height: 788px;
    background-color: rgba(2, 47, 205, 1);
    background-image: url("/img/home/Frame\ 39945\ \(1\).png");
  }
  .q-s-home-container {
    width: 1440px;
    padding: 204px 360px 0px;
  }
  .q-s-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .q-s-home-text {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;

    text-align: center;
    padding: 0 0px 24px;
  }
}

.q-s-about-container {
  width: 375px;
  padding: 80px 20px 40px;
  margin: auto;
}
.q-s-about-title {
  font-family: Luckiest Guy;
  font-weight: 900;
  font-size: 40px;
  leading-trim: Cap height;
  letter-spacing: 7%;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke: 2px rgba(9, 46, 125, 1);
  color: rgba(251, 188, 4, 1);
  padding-bottom: 20px;
  border-bottom: 4px solid rgba(255, 205, 54, 1);
}
.q-s-about-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  leading-trim: Cap height;
  letter-spacing: 7%;
  padding: 19px 0 30px;
}

.q-s-about-text-bold {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 7%;
}

.q-s-uniqueness-title {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding: 57px 0 20px;
}
.q-s-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q-s-uniqueness-item {
  width: 333px;
  height: 148px;
  border-radius: 50px;
  padding-top: 34px;
  padding-right: 32px;
  padding-bottom: 34px;
  padding-left: 32px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  leading-trim: Cap height;
  letter-spacing: 7%;
}
.q-s-uniqueness-img {
  width: 340px;
}
@media screen and (min-width: 1207px) {
  .q-s-about-container {
    width: 1440px;
    padding: 80px 80px;
    position: relative;
  }
  .q-s-about-title {
    width: 495px;
    -webkit-text-stroke: 2px rgba(9, 46, 125, 1);
  }
  .q-s-about-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    leading-trim: Cap height;
    letter-spacing: 7%;
    width: 529px;
    padding: 26px 0 30px;
  }

  .q-s-about-text-bold {
    width: 529px;
  }

  .q-s-uniqueness-title {
    position: absolute;
    top: 400px;
    right: 95px;
  }
  .q-s-uniqueness-list {
    padding-top: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .q-s-uniqueness-item {
    width: 413px;
    height: 148px;
    border-radius: 50px;
    padding-top: 34px;
    padding-right: 32px;
    padding-bottom: 34px;
    padding-left: 32px;
  }
  .q-s-uniqueness-img {
    width: 461px;
    position: absolute;
    top: 0px;
    right: 130px;
  }
  .q-s-uniqueness-itemq {
    margin-right: 14px;
  }
}

.q-s-why {
  width: 375px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("/img/why/Frame\ 39946.png");
}
.q-s-why-container {
  width: 375px;
  margin: auto;
  padding: 42px 16px;
}
.q-s-why-list {
  padding: 38px 0 42px;
  display: flex;
  flex-direction: column;
  gap: px;
}
.q-s-why-item {
  transition: all 0.3s ease-in-out;
  margin: 10px;
  width: 357px;
  height: 330px;
  border-radius: 5px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
  padding-left: 32px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
}
.q-s-why-item:hover {
  background: rgba(248, 129, 11, 1);
}
.q-s-why-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  height: 70px;
  margin: 10px 0 20px;
}
.q-s-why-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(97, 97, 97, 1);
}

@media screen and (min-width: 1207px) {
  .q-s-why {
    width: 1440px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url("/img/why/Frame\ 39946.png");
  }
  .q-s-why-container {
    width: 1440px;
    padding: 50px 80px 0;
  }
  .q-s-why-list {
    padding: 38px 0 42px;
    display: flex;
    flex-direction: column;
    gap: px;
  }
  .q-s-why-item {
    transition: all 0.3s ease-in-out;
    margin: 10px;
    width: 357px;
    height: 330px;
    border-radius: 5px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
    padding-left: 32px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
  }
  .q-s-why-item:hover {
    background: rgba(248, 129, 11, 1);
  }
  .q-s-why-text-bold {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    height: 70px;
    margin: 10px 0 20px;
  }
  .q-s-why-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
  }
}

.q-s-how-container {
  margin: auto;
  width: 375px;
  padding: 65px 20px 0;
}
.q-s-how-list {
  padding: 38px 0 65px;
}
.q-s-how-lists {
  display: none;
}

.q-s-how-item {
  margin: 10px;
  width: 283px;
  height: 263px;
  opacity: 0.7;
  border-radius: 5px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
  padding-left: 32px;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
}
.q-s-how-texts {
  font-family: Lato;
  font-weight: 700;
  font-size: 29.34px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}
.q-s-how-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  padding: 10px 0 20px;
}
.q-s-how-item:hover {
  background: rgba(248, 129, 11, 1);
  color: rgba(255, 255, 255, 1);
}
.q-s-how-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .q-s-how-container {
    margin: auto;
    width: 1440px;
    padding: 67px 80px 0;
  }
  .q-s-how-list {
    display: none;
  }
  .q-s-how-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 38px;
  }

  .q-s-how-item {
    margin: 0px;
    width: 408px;
    height: 330px;
    opacity: 0.7;
    border-radius: 5px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
    padding-left: 32px;

    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
  }
}

.q-s-reviews-container {
  margin: auto;
  padding: 58px 16px 0;
  width: 375px;
}
.q-s-reviews-list {
  padding: 58px 0 52px;
}

.q-s-reviews-item {
  margin: 0 5px;
  width: 301px;
  height: 459px;
  border-radius: 50px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(66, 133, 244, 1);
}
.q-s-reviews-img {
  margin: auto;
}
.q-s-reviews-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  color: rgba(2, 47, 205, 1);
  text-align: center;
  padding: 19px 0 24px;
}

.q-s-reviews-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  height: 95px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1207px) {
  .q-s-reviews-container {
    margin: auto;
    padding: 67px 80px 0;
    width: 1440px;
  }
  .q-s-reviews-list {
    padding: 58px 0 52px;
  }
}

.q-s-faq-container {
  padding: 64px 16px;
  width: 375px;
  margin: auto;
}
.q-s-faq-list {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.q-s-faq-item {
  background: rgba(255, 255, 255, 1);

  padding-top: 52px;
  padding-right: 60px;
  padding-bottom: 52px;
  padding-left: 60px;
}
.q-s-faq-item-t {
  font-family: Lato;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.25px;
  padding-bottom: 52px;
  color: rgba(60, 60, 67, 0.85);
}
.q-s-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.q-s-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
  color: rgba(60, 60, 67, 0.85);
}
.q-s-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.q-s-faq-link {
  margin: auto;
}
.q-s-faq-image {
  margin: auto;
  width: 278px;
  height: 68px;
  margin-top: 80px;
}
.q-s-faqim {
  display: none;
}
.q-s-faqima {
  display: none;
}
@media screen and (min-width: 1207px) {
  .q-s-faq-container {
    padding: 216px 80px 80px;
    width: 1440px;
    margin: auto;
    position: relative;
  }
  .q-s-faqim {
    display: flex;
    position: absolute;
    top: 60px;
    left: 130px;
  }
  .q-s-faqima {
    display: flex;
    position: absolute;
    top: 40px;
    right: 80px;
  }
  .q-s-faq-list {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .q-s-faq-item {
    background: rgba(255, 255, 255, 1);
    display: flex;
    padding-top: 52px;
    padding-right: 60px;
    padding-bottom: 32px;
    padding-left: 60px;
    gap: 52px;
  }

  .q-s-faq-question {
    width: 1048px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .q-s-faq-answer {
    display: none;
    padding-top: 24px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: rgba(60, 60, 67, 0.85);
  }
}

.q-s-gallery-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.q-s-gallery-list {
  width: auto;
  padding-top: 50px;
  margin: auto;
}

.q-s-gallery-item {
  width: 344.2382507324219px;
  height: 611.9791259765625px;
  border: 10px solid rgba(2, 47, 205, 1);
  border-radius: 25px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-s-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-s-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.q-s-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.q-s-gallery-item-image {
  width: 338px;
  height: 190px;
  margin: 80px auto 0px;
}
@media screen and (min-width: 1207px) {
  .q-s-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
  }
  .q-s-howb-container {
    display: none;
  }

  .q-s-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
  }
  .q-s-gallery-item {
    width: 469px;
    height: 833px;
    border: 21px solid rgba(2, 47, 205, 1);
    border-radius: 50px;

    margin: 0 10px;
  }

  .q-s-gallery-list {
  }
}

.q-s-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.q-s-policy-terms-title {
  font-family: Lato;
  font-weight: 900;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: rgba(2, 47, 205, 1);
  text-transform: uppercase;
}

.q-s-policy-terms-text {
  padding-top: 20px;
  font-family: Lato;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.q-s-policy-terms-texts {
  padding-top: 8px;
}

.q-s-policy-terms-text-one {
  padding-top: 20px;
}

.q-s-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-s-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-s-email-link {
  color: inherit;
  text-decoration: none;
}

.q-s-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1207px) {
  .q-s-policy-terms-container {
    padding: 120px 80px 60px;
    width: 1440px;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .q-s-policy-terms-title {
    font-family: Lato;
    font-weight: 900;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-s-policy-terms-text {
    padding-top: 40px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .q-s-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-s-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-s-footer-container {
  width: 375px;
  padding: 60px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
}

.q-s-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.q-s-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.q-s-footer-copyright {
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1207px) {
  .q-s-footer-container {
    width: 1440px;
    padding: 50px 98px;
    display: flex;
    flex-direction: row;

    gap: 170px;
  }

  .q-s-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 170px;
  }

  .q-s-footer-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-s-footer-copyright {
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-s-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 36px;
  background: rgba(235, 237, 242, 1);

  z-index: 1000;
  display: none;
}

.q-s-cookie-popup-text-two {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(10, 10, 48, 1);
}

.q-s-cookie-button-container {
  padding: 16px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.q-s-cookie-button {
  border: none;
  background-color: transparent;
  width: 176px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;

  border-bottom: 2px solid rgba(10, 10, 48, 1);
}

#accept-cookies {
  background: rgba(10, 10, 48, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(235, 237, 242, 1);
  border-radius: 12px;
}

.q-s-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1207px) {
  .q-s-cookie-popup-text-two {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-s-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-s-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
